# Ignorar el entorno virtual (ruta relativa ../venv/)
../venv/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos SQLite
#*.sqlite3

# Variables de entorno
.env
.env.local

# Archivos de IDE
.idea/
.vscode/